################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BTCSLT/.vs
/BTCSLT/bin/Debug/net8.0
